### TYPO3 CMS
## Composer mode

# Ignore translation folders and installtool additional files
web/typo3conf/ENABLE_INSTALL_TOOL

# Ignore cache
web/typo3conf/temp_CACHED*
web/typo3conf/temp_fieldInfo.php
web/typo3conf/deprecation_*.log

# Ignore system folders, you should have them symlinked.
# If not comment out the following entries.
web/typo3
web/typo3_src
web/typo3_src-*
web/index.php
vendor/

# Ignore everything except sem_ extensions
web/typo3conf/ext/*
!web/typo3conf/ext/sem_*/
web/typo3conf/ext/sem_sitepackage/
web/typo3conf/ext/sem_content/

# Ignore Environment file, PHPStorm, Sublime Text project settings
.idea/
*.sublime-project
*.sublime-workspace

# Ignore node packages
npm-debug.log
web/node_modules
access.log
error.log

# Distribution gitignore
typo3cms

# Ignore content of var folder
/var/cache/*
/var/log/*
/var/storage/*

!/var/cache/.gitkeep
!/var/log/.gitkeep
!/var/storage/.gitkeep