<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="excursion_describe">
        <div class="in_excursion_describe">
            <p class="name_excursion"> 
                <span class="in_name_excursion">{excursion.name}</span> 
                <span class="close close_in_ex"></span> 
            </p>

            <div class="excursion_describe_content">
                <div class="main_foto" ></div>
                <div class="all_foto">
                    <div class="smal_foto smal_foto_0" ></div>
                    <div class="smal_foto smal_foto_1" ></div>
                    <div class="smal_foto smal_foto_2" ></div>
                    <div class="smal_foto smal_foto_3" ></div>
                </div>
                <div class="addition_info">{excursion.adInfo}</div>
                <div class="main_description">{excursion.description}</div>
                <input type="button" class="form-control button_review" value="{excursion.order_ex}">
            </div>
        </div>
    </div>

</html>