<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"  data-namespace-typo3-fluid="true">

      {v:resource.record.fal(table: 'pages', field: 'media', uid: 2)
             -> v:iterator.first()
             -> v:variable.set(name: 'header_background')}
             
    <f:if condition="{headcontents}">
        <f:for each="{headcontents}" as="headcontent">
        
            <header style="background-image: url({header_background.url});">
                <div class="in_header_left">
                    <div class="header_form">
                        <form role="form" action="index.html" method="post" name="form1" enctype="multipart/form-data">
                            <input type="text" class="form-control" id="name" name="name" placeholder="{headcontent.formName}">
                            <input type="text" class="form-control" id="phone" name="phone" placeholder="{headcontent.formPhone}">
                            <select  class="form-control" id="excursion" name="excursion" class="form-control" >
                                <optgroup>
                                    <option value="">{headcontent.formSelect}</option>
                                </optgroup>
                            </select>
                            <input type="submit" class="form-control" id="button" name="but2" value="{headcontent.formSend}">
                        </form>
                    </div>
                </div>

                <div class="in_header_right">
                    <div class="in_header_right_top">
                        <div class="header_contacts">
                            <p class="contacts"> <i class="material-icons phone_in_header">local phone</i>{headcontent.firstPhone}<span><i class="material-icons phone_in_header">local phone</i>{headcontent.secondPhone}</span>    <span><i class="material-icons mail_in_header">mail outline</i>{headcontent.email}</span></p>
                        </div>
                        <div class="header_nav">
                            <ul class="in_heder_nav">
                                <a href="#excursions"><li class="lviv_ex">{headcontent.firstMenu}</li></a>
                                <a href="#excursions"><li class="bus_ex">{headcontent.secondMenu}</li></a>
                                <a href="#excursions"><li class="all_ex">{headcontent.thirdMenu}</li></a>
                                <a href="#excursions"><li class="reviews">{headcontent.fourthMenu}</li></a>
                            </ul>
                        </div>
                    </div>
                    <div class="in_header_right_bottom">
                        <div class="header_description">
                            <p class="description">{headcontent.header}</p>
                            <p class="slogan">{headcontent.subheader}</p>
                        </div>
                        <div class="header_lang">
                            <a href="index_en.html"><div class="en" style="opacity: 0.5;"></div></a>
                            <a href="index_ru.html"><div class="ru" style="opacity: 0.5;"></div></a>
                            <div class="ua"></div>
                        </div>
                    </div>
                </div>
            </header>
                
            <nav id="excursions">
                <ul class="nav">
                    <li class="nav_lviv_ex"> <input class="check input_in_nav_lviv input_in_nav" type="button" name="nav_lviv_ex" value="{headcontent.firstMenu}"> </li>
                    <li class="nav_bus_ex"> <input  class="input_in_nav_bus input_in_nav" type="button" name="nav_bus_ex" value="{headcontent.secondMenu}"> </li>
                    <li class="nav_all_ex"> <input class="input_in_nav_all input_in_nav" type="button" name="nav_all_ex" value="{headcontent.thirdMenu}"> </li>
                    <li class="nav_reviews"> <input class="input_in_nav_reviews input_in_nav" type="button" name="nav_all_ex" value="{headcontent.fourthMenu}"> </li>
                </ul>
            </nav>


        </f:for>
    </f:if>
</html>