<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="row">
    <f:for each="{services}" as="service">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="single_service">
                <!-- Single Service image -->
                <div class="single_service_img">
                    <v:media.exists file="{service.image.originalResource.publicUrl}">
                        <f:image treatIdAsReference="1" image="{service.image}"/>
                    </v:media.exists>
                </div>
                <!-- Single Service title -->
                <div class="single_service_title">
                    <h4>{service.header}</h4>
                </div>
                <!-- Single Service content -->
                <div class="single_service_content">
                    <div class="table">
                        <div class="table_cell">
                            <f:format.html>{service.description}</f:format.html>
                        </div>
                    </div>
                </div>
                <div class="learn_more">
                    <a data-target="#service_details" data-toggle="modal" href="#"><h4>Learn More</h4></a>
                </div>
            </div>
        </div>
    </f:for>
</div>

</html>