<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="row">
    
        
        <section class="reviews" id="reviews">
          <p class="head_rev">
            <f:translate key="service.review"/>
          </p>
          <hr class="line">

          <div class="reviews">
            <f:for each="{services}" as="service" reverse="1">
              <div class="review_content">
                <p class="review">
                    {service.description}
                </p>
                <p class="author">{service.name}</p>
              </div>
            </f:for>
          </div>
        </section>

        <section class="make_reviews">
          <p class="head_make_rev">
            <f:translate key="test"/>
          </p>
          <div class="review_form">
            <f:form method="post" action="create" name="object" controller="Service" object="{object}">
               <f:form.textfield property="name" 
                                 class="form-control" 
                                 id="name_review" 
                                 placeholder="{f:translate(key: 'service.your.name')}"/>
               <f:form.textfield property="email" 
                                 class="form-control" 
                                 id="mail_review" 
                                 placeholder="{f:translate(key: 'service.your.email')}"/>
               <f:form.textfield property="description" 
                                 class="form-control" 
                                 id="review" 
                                 placeholder="{f:translate(key: 'service.text.review')}" />
               <f:form.submit class="form-control" 
                              id="button_review" 
                              value="{f:translate(key: 'service.send')}" />
            </f:form>
          </div>
        </section>

</div>

</html>
